<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Rejestracja</title>
</head>
<body>
    <h1>Rejestracja</h1>
    <form method="POST">
        <label for="first_name">Imię:</label>
        <input type="text" id="first_name" name="first_name" required><br>

        <label for="last_name">Nazwisko:</label>
        <input type="text" id="last_name" name="last_name" required><br>

        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Zarejestruj się">
    </form>
</body>
</html>
